html{
    background-color: #18181b;
}


/* -------------------------------Css loader------------------------------- */
/* HTML: <div className="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #95cdc4;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}


/* --------------------------------For th auto restart prompt-------------------------------- */
@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out;
}
